<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Flores</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="cart.length > 0" (click)="openCart()">
        <ion-badge >{{ cart.length }}</ion-badge>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding:0px;">
      <ion-col size="6" style="padding:0px" *ngFor="let cat of items">
        <ion-card style="margin: 3px;" >
          <ion-card-header >
            <ion-card-title style="font-size:15px;" text-center>
              {{ cat.category }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content text-center>
            <img width="300" height="101" src="{{cat.image}}">
            <ion-button color="tertiary" id="botonCompra" (click)="openModal(cat)" shape="round">Ver</ion-button>
          </ion-card-content>
        </ion-card>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
